{% extends "base.html" %}
 
{% block content %}

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-customer-info-tab" data-bs-toggle="tab" data-bs-target="#nav-customer-info" type="button" role="tab" aria-controls="nav-customer-info" aria-selected="true">Customer Info</button>
    <button class="nav-link" id="nav-customer-orders-tab" data-bs-toggle="tab" data-bs-target="#nav-customer-orders" type="button" role="tab" aria-controls="nav-customer-orders" aria-selected="false">Customer Orders</button>
    <button class="nav-link" id="nav-products-tab" data-bs-toggle="tab" data-bs-target="#nav-products" type="button" role="tab" aria-controls="nav-products" aria-selected="false">Products</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  {% load django_tables2 %}
  {% load i18n %}
  <div class="tab-pane fade show active" id="nav-customer-info" role="tabpanel" aria-labelledby="nav-customer-info-tab">
    <h1>Filters</h1>
    <form method="get" action="">
    {{ filter.form }}
    <input type="submit" value="Filter" />
  </form>
    {% render_table table1 %}
  </div>
  <div class="tab-pane fade" id="nav-customer-orders" role="tabpanel" aria-labelledby="nav-customer-orders-tab">
    {% render_table table2 %}
  </div>
  <div class="tab-pane fade" id="nav-products" role="tabpanel" aria-labelledby="nav-products-tab">
    {% render_table table3 %}
  </div>
</div>



{% endblock content %}

